.layout{
  display: flex;
  flex-direction: column;
}

.navlist{
  display: flex;
  gap: 1rem;

  justify-content: flex-end;
  margin-right: 1rem;

  list-style: none;
}

.logo {
  height: 50%;
  width: 50%;
  margin-left: 25%;
}

.posts{
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

.posts > * {
  flex-basis: 100%;
}